<template>
  <div class="container">
    <div class="row">
      <div
        v-for="(user) in currentPageUsers"
        :key="user.id"
        class="col-lg-4"
      >
        <div class="card">
          <img :src="user.picture" class="card-img-top" :alt="user.name">
          <div class="card-body">
            <h5 class="card-title">Name: {{ user.name }}</h5>
            <p class="card-text">Age: {{ user.age }}</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="d-flex justify-content-center mt-3">
      <ul class="pagination">
        <li
          :class="{ disabled: pageNumber === 0 }"
          @click="prevPage"
          class="page-item"
        >
          <a class="page-link" href="#">Previous</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="#">
            {{ pageNumber + 1}}
          </a>
        </li>
        <li
          :class="{ disabled: pageNumber === totalPages - 1 }"
          @click="nextPage"
          class="page-item"
        >
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
const PAGE_SIZE = 3;

export default {
  data: () => ({
    users: [],
    pageNumber: 0
  }),

  beforeMount() {
    fetch('https://5dbdba5105a6f30014bcaf21.mockapi.io/user')
      .then((response) => response.json())
      .then((data) => this.users = data);
  },

  methods: {
    nextPage() {
      if (this.pageNumber < this.totalPages - 1) {
        this.pageNumber++;
      }
    },
    prevPage() {
      if (this.pageNumber > 0) {
        this.pageNumber--;
      }
    }
  },

  computed: {
    currentPageUsers() {
      return this.users.slice(this.pageNumber * PAGE_SIZE, this.pageNumber * PAGE_SIZE + PAGE_SIZE);
    },
    totalPages() {
      return Math.ceil(this.users.length / PAGE_SIZE);
    },
  }
}
</script>

<style></style>
